@import "tailwindcss";

@layer components {
  button.green {
    background-color: oklch(37.8% 0.077 168.94);
  }
  button.blue {
    background-color: oklch(37.9% 0.146 265.522);
  }
  button.red {
    background-color: oklch(27.1% 0.105 12.094);
  }
}
